*{
    margin: 0;
    padding: 0;
}



ul{
    list-style: none;

}


#baner {
    
    
    
    display: flex;
    justify-content: center;
    
    

 
}

.banertexto{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    font-style: italic;
    font-size: 100%; 
    text-decoration: none;

}

.header__div--publicidad{
    
    background-color: black ;
  
    padding-top: 10px;
   
    
}


.header__inicio{
   
    width: 50%;
    height: 100%;
    padding: 25px 0px  ; padding-bottom: 15px;
   
   
}

.header__contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    
   
    
 
}

.menu{
display: flex;
justify-content: center;
background-color: white;
}


.header__logo{
    position: absolute; top: 15px; left: 40px;

    width: 250px ;

}

.a{
    text-decoration: none;
    color: black;
   font-family: 'Montserrat', sans-serif;
   font-size: 17px;
    font-weight: 700; 
   
    
}


.titulo__baner{
    font-size: 60px;
    font-family:'Oswald', sans-serif;
    font-weight: 500;
}
.carousel-caption{
    bottom: 9.25rem;

    color: whitesmoke;
    font-size: 30px;
    font-family:'Oswald', sans-serif;
    font-weight: 400;
    
}




/*Main mujer.html*/

.main__mujeres{
    padding-bottom: 1000px;
}

.main__section--mujer{
    padding: 400px 300px 300px 400px; 
   
  
   background-image: url(https://cdn.shopify.com/s/files/1/0535/9093/files/arisescrunchv3bannerdesktop3_1600x.jpg?v=1662452746) ;
    
   background-size: cover ;
   background-position: center;



}

.womens__texto{
    color: #839192; 
    font-size: 20px;
    font-weight: 500;

    margin: 0px;
    
}
.mujeres__section--compra{

    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    margin-left: 35px ;
    margin-top: 50px;


}



.mujeres__section--produtos{
    display: grid;

    grid-template-columns: repeat(5, 280px);
    grid-template-rows: 480px ;

  

    gap: 20px;

    

    
    margin: 15px 35px;

    
}

.mujeres__griddcontainer{
  display: grid;
    margin-bottom: 25px;

    position: relative;

}



.mujeres__griddcontainer :hover{
    display: grid;


  animation-name:sombra;
  animation-duration: 2s ;
    animation-fill-mode: forwards;
    

}

@keyframes sombra{
    0%{

    }

    100%{
        filter: drop-shadow(5px 5px 15px black ); 
        
    }
}

.mujeres__productos{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.section__mujer--baner2{
    padding: 400px 300px 300px 400px; 
   
  
    background-image: url(https://i.ibb.co/cX2yT0x/banermujer-2.png) ;
     
    background-size: cover ;
    background-position: center;

    margin: 100px  0px;
    
 


}

.section__baner--streetwear{

    padding: 400px 300px 300px 400px ;

    background-image: url(https://i.ibb.co/xhSzBbb/banerstreetwear.png) ;
     
    background-size: cover ;
    background-position: center;

    margin: 100px 0px ;
}

button{
    padding: 15px 40px 15px 40px;
    background-color: white;
    margin: 10px;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: medium;
    text-decoration-color: black;
    
}

/*Main hombre.html*/

.main__bamer--hombre{
    background-image: url(https://i.ibb.co/DfHtX9m/banerhombre1.jpg);


    padding: 400px 300px 300px 400px; 
   
     
    background-size: cover ;
    background-position: center;

    margin: 100px 0px ;
}

.main__bamer2--football{
    background-image: url(https://i.ibb.co/XXCWHzC/banerfootbal.png);


    padding: 400px 300px 300px 400px; 
   
     
    background-size: cover ;
    background-position: center;

    margin: 100px 0px ;
}

.main__ADAPT{
    padding: 2% 10%;
    
    background-color: whitesmoke   ;
    border: 7px double grey;

    font-size: 20px ;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

}

.informacion{
    
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: black;
    margin-bottom: 10px;
}



#baner__movil{
    background-color: white;
    margin: 100px 5px;
    padding-bottom: 250px;

    

}

.main__texto{
    display: flex;


}

.texto{
    font-size: 70px;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    margin: 20px;
}






.main__ropa{
    display: flex;
    justify-content: space-around;
  

    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 20px;
    margin: 10px;
    

}


.main__ropa--imagenes{

width: 350px;
height: 490px;
}


.fotercontainer{

    background-color: whitesmoke ;
    border: double grey 7px ;
    color: black;
  

    display: flex;



    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: solid 5px #839192 ;


    justify-content: center;
    justify-content: space-between;
 
    
}

.box__1{
    padding: 50px 50px ;

    display: flex;
    
 
}



.footer__logo{
    width: 110%;
    height: 100%;
    object-fit: contain;
    
}


.box__2{
   padding: 5%  10%;


    display: flex;
    justify-content: center;
    justify-content: space-around;
      
}


.links__redes{
    width: fit-content;
}
.box2__img--container{
    padding: 100%;
    height: 10px;
    object-fit: contain;
    display: flex;
    border: #839192 solid 5px;
}


.redes{

    width: 40%;
    margin-left: 80px;

    object-fit: cover ;
}


.box__3{

    
    padding: 0px 50px;



}

.box3__text{
    padding: 0px 50px;
    object-fit: cover;


}


.box3__pagos{
    display: inline-block;
    border: #839192 solid 1px;

}


.box3__gridcontainer{
    display: grid;
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: 40px;
    padding: 0%;

    gap: 10px;

 


}

.box3__gridd-element{
    display: grid;


    
}


.tarjetas{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.navbar-collapse{
    justify-content: center;
    
}

.header__logos{
    width: 10%;

    
} 